name: ci 
on:
  push:
    branches:
      - main 
  pull_request:
    branches:
      - gh-pages
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      - uses: crazy-max/ghaction-github-pages@v2
        with:
          # 部署到 gh-pages 分支
          target_branch: gh-pages
          # 部署目录为 VuePress 的默认输出目录
          build_dir: docs
          # /.vuepress/dist
        env:
          # @see https://docs.github.com/cn/actions/reference/authentication-in-a-workflow#about-the-github_token-secret
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: npm install -D vuepress@next
      - run: echo 'node_modules' >> .gitignore
      - run: echo '.temp' >> .gitignore
      - run: echo '.cache' >> .gitignore
      - run: npm run docs:build
